@use '../../../../assets/variables.scss' as *;

section {
  padding: 15px 25px;
  background-color: $color-dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 50px);
  overflow: hidden;
  border-bottom: 5px solid $color-primary;
  z-index: 99;
}

.logo {
  font-size: 22px;
  color: $color-white;
  cursor: pointer;

  .subtitle {
    font-size: 16px;
  }
}

@media only screen and (min-width: $mobile-size) {
  .mobile-menu {display: none;}
}

.mobile-menu {
  .bar {
    width: 25px;
    height: 3px;
    background-color: $color-white;
    margin: 5px;
  }
}



.mobile-menu-modal {
  & {
    padding: 10px 0;
    position: fixed;
    top: 65px;
    width: 50%;
    text-align: center;
    right: 0;
    background-color: $color-white;
    z-index: 999;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: $box-shadow;
  }
  @media only screen and (min-width: $mobile-size) {
    display: none;
  }

  a {
    color: $color-dark;
    font-size: 20px;
    width: 100%;
    margin: 0;
    
    div {
      transition: 0.4s;
      padding: 10px 0;

      &:hover{
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }
}



.links {
  a {
    padding: 15px 0;
  }
  @media only screen and (max-width: $mobile-size) {
    display: none;
  }
}

a {
  & {
    text-decoration: none;
    margin: 0 15px;
    color: $color-white;
    z-index: 99;
    position: relative;
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: $color-white;
    left: -5px;
    top: 50%;
    height: 0;
    width: 1px;
    opacity: 0;
    transition: 0.4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      height: 15px;
      top: calc(50% - 7.5px);
    }
  }
}

.line {
  width: 20px;
  height: 100px;
  background-color: $color-primary;
  position: absolute;
  right: -24px;
  transform: rotate(40deg);
  z-index: 8;
  opacity: 1;
}