<section>
  <div class="logo" (click)="onClickLink()" routerLink="/">
    Lucas Mendonça <span class="subtitle">- Portfolio</span>
  </div>
  <div class="line"></div>
  <div class="links">
    <a routerLink="/">Main Projects</a>
    <a routerLink="/projects/demos">Demos</a>
    <a routerLink="/projects/designs">Design</a>
    <a routerLink="/about">About</a>
    <a target="_blank" href="https://www.linkedin.com/in/lucasmendoncap/">LinkedIn</a>
    <a target="_blank" href="https://github.com/LucasMendoncaWF">GitHub</a>
  </div>
  <div (click)="onClickMobileMenu()" class="mobile-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</section>

<div class="mobile-menu-modal" *ngIf="showMobileMenu" (click)="onClickMobileMenu()">
  <a routerLink="/"><div>Main Projects</div></a>
  <a routerLink="/projects/demos"><div>Demos</div></a>
  <a routerLink="/projects/designs"><div>Design</div></a>
  <a routerLink="/about"><div>About</div></a>
  <a target="_blank" href="https://www.linkedin.com/in/lucasmendoncap/"><div>LinkedIn</div></a>
  <a target="_blank" href="https://github.com/LucasMendoncaWF"><div>GitHub</div></a>
</div>