@use '../../../../assets/variables.scss' as *;

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.skill {
  color: $color-dark;
  margin: 8px 10px;
  align-items: center;
  min-width: 180px;
  width: calc(25% - 20px);
}

@media only screen and (max-width: $mobile-size) {
  .skill {
    width: 50%;
    margin: 10px 0;
    min-width: unset;
  }
}

.skill-name {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.skill-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-bar-piece {
  background-color: #d7d7d7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0px;
}

.painted {
  background-color: $color-primary;
  animation: paint 0.4s;
}

@keyframes paint {
  0% {
    background-color: #d7d7d7;
  }
  100% {
    background-color: $color-primary;
  }
}