@use '../../../../assets/variables.scss' as *;

section {
  & {
    min-height: calc(100vh - 94px);
    padding: 0 5%;
    position: relative;
    z-index: 2;
  }

  @media only screen and (max-width: $mobile-size) {
    padding: 0 15px;
  }
}

h2 {
  color: $color-dark;
  animation: titleIn 0.5s;
  width: 200px;
  text-align: center;
  margin-left: calc(50% - 100px);
}

@keyframes titleIn {
  0% {
    opacity: 0;
    margin-left: -100px;
  }

  100% {
    opacity: 1;
    margin-left: calc(50% - 100px);
  }
}

.container {
  & {
    margin: 20px 0;
    padding: 0 5%;
    width: 40%;
  }

  @media only screen and (max-width: $mobile-size) {
    width: 100%;
    padding: 0;
    margin: 5px 0;
  }
}

.flex-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.no-space {
  justify-content: unset;
}

.education {
  width: 60%;
}

.text {
  & {
    letter-spacing: 1.5px;
    line-height: 28px;
    color: $color-dark;
    animation: textIn 0.5s;
    margin: 30px 0;
  }

  @media only screen and (max-width: $mobile-size) {
    padding: 0 15px;
  }
}

.align-center {
  align-items: center;
}

.profile-pic {
  & {
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }

  @media only screen and (max-width: $mobile-size) {
    width: 80%;
    margin-top: 0;
    margin-left: 10%;
  }
}

.text-title {
  font-size: 20px;
  font-weight: bold;
}

.text-item {
  & {
    margin: 10px 0;
  }

  a {
    color: $color-primary;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

@keyframes textIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(00px);
  }
}

hr {
  margin: 20px 0;
}

.italic {
  & {
    font-style: italic;
  }

  b {
    color: rgba(0,0,0, 0.6);
    font-size: 15px;
  }
}

.project-name {
  font-weight: bold;
}

.line {
  background-color: $color-primary;
  width: 100px;
  height: 800px;
  position: absolute;
  z-index: 1;
  top: -100px;
  left:- 200px;
  transform: rotate(40deg);
  opacity: 1;
}

.contact {
  & {
    z-index: 98;
    top: calc(100% - 250px);
    background-color: $color-white;
    position: fixed;
    padding: 5px 10px;
    box-shadow: $box-shadow;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }

  @media only screen and (max-width: $mobile-size) {
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: calc(100% - 180px);
  }

  .contact-hover {
    padding: 5px;
    text-align: left;
    
    @media only screen and (max-width: $mobile-size) {
      text-align: right;
    }
  }

  img {
    width: 40px;
  }

  &:hover {
    .contact-methods {
      height: 130px;
    }
  }

  .contact-methods {
    transition: 0.4s;
    height: 0;
    overflow: hidden;
  }

  .contact-method {
    margin: 15px 10px;
    cursor: pointer;
  }
}

.opacity-icon {
  opacity: 0.9;
}
