<div class="line"></div>
<section class="flex-area">
  <div class="container">
    <h2>About Me!</h2>

    <div class="text flex-area no-space align-center">
      <img class="profile-pic" src="/assets/images/lucas.jpg" />
      <div>
        <div class="text-item">Name: Lucas Mendonça Pedroso</div>
        <div class="text-item">Age: 21 years</div>
        <div class="text-item">Address: São Paulo SP, Brazil</div>
        <div class="text-item">Phone: +55 (11) 94151-7072</div>
        <div class="text-item">E-mail: lucasmendoncawf@gmail.com</div>
        <div class="text-item">
          <a target="_blank" href="https://drive.google.com/file/d/1w7fGIzJWZl-A9Hi-8GlhAS5G3Uwef6JD/view?usp=sharing">
            Download my full CV
          </a>
        </div>
      </div>
    </div>

    <div class="text">
      <div class="text-title">Education:</div>
      <div class="text-item">- Systems development and analysis | FIAP | February 2019 to December 2020</div>
      <div class="text-item">- Computer technician | ETEC Zona Leste | January 2015 to July 2016</div>
      <div class="text-item">- Game Design | Anhembi Morumbi | February 2017 to July 2018</div>
      <div class="text-item">- Graphic Design | SAGA | January 2015 to January 2017</div>
      <div class="text-item">- English | Wizard | 2014 to 2016</div>
      <div class="text-item">- Web Development | Google certification | 2018</div>
    </div>
  </div>


  
  <div class="container">
    <h2>My Skills:</h2>
    <app-skill></app-skill>
  </div>

  <div class="container">
    <div class="text">
      <div class="text-title">Experience:</div>
      <div class="text-item project-name">Front-End Freelancer | April 2016 to October 2017.</div>

      <hr/>

      <div class="text-item project-name">Front-End Developer | Web designer | Class Solutions | October 2017 to October 2018.</div>
      <div class="text-item italic">Main projects:</div>
      <div class="text-item project-desc">Selling System Intranet - Brazil Hershey’s</div>
      <div class="text-item project-desc">Construction management system Intranet - Tallento engenharia</div>
      <div class="text-item project-desc">Intern management - Class Solutions</div>
      <div class="text-item project-desc">Intranet - Votorantim </div>

      <hr/>

      <div class="text-item project-name">Full Stack developer | Newton Marketing | November 2018 to April 2019.</div>
      <div class="text-item italic">Main projects: </div>
      <div class="text-item project-desc">Intern management - Newton</div>
      <div class="text-item project-desc">Website - Omint</div>
      <div class="text-item project-desc">Website - Emccamp</div>

      <hr/>

      <div class="text-item project-name">Freelance | Sony Brazil | April 2019 to November 2019</div>
      
      <hr/>

      <div class="text-item project-name">Freelance | Luvieh Jewellery | June 2020</div>
      
      <hr/>

      <div class="text-item project-name">Lead FrontEnd Developer (Angular 7+) | Jurema | December 2019 / Current Job.</div>
      <div class="text-item italic">Main projects: </div>
      <div class="text-item project-desc">Website - Prefeitura de São Paulo.</div>
      <div class="text-item project-desc">Website - BV meu carro novo website.</div>

    </div>
  </div>

  <div class="container">
    <h2>More About Me:</h2>
  </div>
</section>

<div class="contact">
  <div class="contact-hover">Contact</div>
  <div class="contact-methods">
    <div class="contact-method">
      <a target="_blank" href="https://github.com/LucasMendoncaWF">
        <img class="contact-icon" src="/assets/images/github.png"/>
      </a>
    </div>
    <div class="contact-method opacity-icon">
      <a target="_blank" href="https://www.linkedin.com/in/lucasmendoncap/">
        <img class="contact-icon" src="/assets/images/linkedin.png"/>
      </a>
    </div>
  </div>
</div>