<div class="line"></div>
<section class="flex-area">
  <div class="container">
    <h2>About Me!</h2>

    <div class="text flex-area no-space align-center">
      <img class="profile-pic" src="/assets/images/lucas.jpg" />
      <div>
        <div class="text-item">Name: Lucas Mendonça Pedroso</div>
        <div class="text-item">Age: 21 years</div>
        <div class="text-item">Address: São Paulo SP, Brazil</div>
        <div class="text-item">Phone: +55 (11) 94151-7072</div>
        <div class="text-item">E-mail: lucasmendoncawf@gmail.com</div>
        <div class="text-item">
          <a target="_blank" href="https://drive.google.com/drive/folders/1EsxRbrifOyWcHopTjM9MXRXaXEeoCZUK?usp=share_link">
            Download my resume.pdf
          </a>
        </div>
      </div>
    </div>

    <div class="text">
      <div class="text-title">Education:</div>
      <div class="text-item">- Systems development and analysis | FIAP | February 2019 to December 2020</div>
      <div class="text-item">- Computer technician | ETEC Zona Leste | January 2015 to July 2016</div>
      <div class="text-item">- Game Design | Anhembi Morumbi | February 2017 to July 2018</div>
      <div class="text-item">- English | Wizard | 2014 to 2016</div>
      <div class="text-item">- Web Development | Google certification | 2018</div>
      <div class="text-item">- React and Angular Advanced, and NestJS | Alura | 2020 - 2022</div>
    </div>
  </div>


  
  <div class="container">
    <h2>My Skills:</h2>
    <app-skill></app-skill>
  </div>

  <div class="container">
    <div class="text">
      <div class="text-title">Experience:</div>
      <div class="text-item project-name">Front-End Freelancer | April 2016 to October 2017.</div>

      <hr/>

      <div class="text-item project-name">Front-End Developer | Class Solutions | October 2017 to October 2018.</div>
      <div class="text-item italic">Main Technologies:<b> AngularJS, Angular, React, SCSS, Typescript, Webpack and NPM.</b></div>
      <div class="text-item italic">Main projects:</div>
      <app-project-link desc="Selling System Intranet - Brazil Hershey’s"></app-project-link>
      <app-project-link desc="Construction management system Intranet - Tallento engenharia"></app-project-link>
      <app-project-link desc="Intern management - Class Solutions"></app-project-link>
      <app-project-link desc="Intranet - Votorantim"></app-project-link>

      <hr/>

      <div class="text-item project-name">Full Stack Developer | Newton Marketing | November 2018 to April 2019.</div>
      <div class="text-item italic">Main Technologies: <b>Angular, React, SCSS, Typescript, Webpack, NPM, WordPress and PHP.</b></div>
      <div class="text-item italic">Main projects: </div>
      <app-project-link desc="Intern management - Newton"></app-project-link>
      <app-project-link url="https://www.omint.com.br" desc="Website - Omint"></app-project-link>
      <app-project-link url="https://www.emccamp.com.br" desc="Website - Emccam">p</app-project-link>

      <hr/>

      <div class="text-item project-name">Freelance | Sony Brazil | April 2019 to November 2019</div>
      
      <hr/>

      <div class="text-item project-name">Freelance | Luvieh Jewellery | June 2020</div>
      
      <hr/>

      <div class="text-item project-name">Lead FrontEnd Developer | Jurema | January 2020 / Current Job.</div>
      <div class="text-item italic">Main Technologies: <b>Angular, React, Redux, SCSS, Typescript, Webpack and NPM.</b></div>
      <div class="text-item italic">Main projects: </div>
      <app-project-link url="https://sampamaisrural.prefeitura.sp.gov.br/" desc="Website - Prefeitura de São Paulo (samparural)"></app-project-link>
      <app-project-link url="https://wwww.meucarronovo.com.br" desc="Website - BV MCN"></app-project-link>
      <app-project-link url="https://www.meucarronovo.com.br/contrate/" desc="Website - BV MCN - Advertis">e</app-project-link>
      <app-project-link url="https://souanunciante.meucarronovo.com.br/" desc="Website - BV MCN - Seller's Area"></app-project-link>
      <app-project-link url="https://www.bv.com.br/seguro" desc="Website - BV Seguros"></app-project-link>
      <app-project-link url="https://queridodiario.jurema.la/" desc="Website - Querido Diário"></app-project-link>
      <app-project-link url="https://diariodoclima.jurema.la/" desc="Website - Diário do Clima"></app-project-link>
      <app-project-link url="https://www.jurema.la" desc="Website - Jurema"></app-project-link>

      <hr/>

      <div class="text-item project-name">Freelance | Alamanda | November 2022</div>
      <div class="text-item item-desc">Website - E-commerce - React and NestJS.</div>
    </div>
  </div>

  <div class="container">
    <h2>More About Me:</h2>
    <div class="text">
      <div class="text-title">Hobbies:</div>
      <div class="text-item item-desc">- Writing;</div>
      <div class="text-item item-desc">- Photography;</div>
      <div class="text-item item-desc">- Film making;</div>
      <div class="text-item item-desc">- Playing Games;</div>
      <div class="text-item item-desc">- Comics;</div>
      <div class="text-item item-desc">- Tv Shows and Movies;</div>
    </div>
    <div class="text">
      <div class="text-title">My story as a developer:</div>
      <div class="text-item">
        I started to study programming when I was 12 years old, 
        a little later, I studied design and at 16, in a technical 
        programming school, I used design and programming on the 
        front end, since then I've continued to grow as a front end 
        developer, studying new frameworks and ways to create websites
         with a good performance.
      </div>
    </div>
  </div>
</section>

<div class="contact">
  <div class="contact-hover">GitHub and <br/>LinkedIn</div>
  <div class="contact-methods">
    <div class="contact-method">
      <a target="_blank" href="https://github.com/LucasMendoncaWF">
        <img class="contact-icon" src="/assets/images/github.png"/>
      </a>
    </div>
    <div class="contact-method opacity-icon">
      <a target="_blank" href="https://www.linkedin.com/in/lucasmendoncap/">
        <img class="contact-icon" src="/assets/images/linkedin.png"/>
      </a>
    </div>
  </div>
</div>