<div class="line"></div>
<section class="flex-area">
  <div class="container">
    <h2>About Me!</h2>

    <div class="text flex-area no-space align-center">
      <img class="profile-pic" src="/assets/images/lucas.png" />
      <div>
        <div class="text-item"><b>Lucas Mendonça Pedroso</b></div>
        <div class="text-item">Available for global remote opportunities</div>
        <div class="text-item">Address: São Paulo SP, Brazil</div>
        <div class="text-item">Phone: +55 (11) 94151-7072</div>
        <div class="text-item">E-mail: lucasmendoncawf&#64;gmail.com</div>
        <div class="text-item">
          <a target="_blank" href="https://drive.google.com/drive/folders/1EsxRbrifOyWcHopTjM9MXRXaXEeoCZUK?usp=share_link">
            Download my resume.pdf
          </a>
        </div>
      </div>
    </div>

    <div class="text">
      <div class="text-title">Experience:</div>
      <div class="text-item project-name">Senior Front-End Developer| Alto | January 2023 - Current</div>
      <div class="text-item item-desc italic">Built the Coach Dashboard for Anytime Fitness (SaaS) using React, TypeScript, Zustand, React Query, HTML, and SCSS. Developed custom components used across the entire website, implemented new features, performed maintenance, and resolved bugs quickly and efficiently.</div>

      <hr/>

      <div class="text-item project-name">Freelance | Alamanda | Jul 2022</div>
      <div class="text-item item-desc italic">Website - E-commerce - <b>React and NestJS.</b></div>

      <hr/>

      <div class="text-item project-name">Mid-Level Front-End Developer | Jurema | January 2020 - December 2022</div>
      <div class="text-item italic">Led front-end development in collaboration with design, back-end, and management teams to deliver high-performance applications with great UI/UX. Emphasized clean code and efficient bug fixing, using mostly React or Angular, TypeScript, HTML, SCSS, and Node.js.</div>

      <hr/>
      
      <div class="text-item project-name">Full Stack Developer | Newton Marketing | November 2018 - December 2019.</div>
      <div class="text-item italic">Developed end-to-end web applications for clients in e-commerce, healthcare insurance, and real estate. Used React, Angular, PHP, WordPress, TypeScript, JavaScript, SCSS, HTML, React Native, and Webpack.</div>
      
      <hr/>

      <div class="text-item project-name">Front-End Developer | Class Solutions | October 2017 - October 2018.</div>
      <div class="text-item italic">Built intranet systems for Hershey's, Votorantim, and Tallento Engenharia using AngularJS, TypeScript, SCSS, HTML, and SharePoint, improving internal organization and data management.</div>
    </div>
  </div>


  
  <div class="container">
    <h2>My Skills:</h2>
    <app-skill></app-skill>

    <div class="text">
      <div class="text-title">Education:</div>
      <li class="text-item">Bachelor's Degree in Systems Analysis and Development | FIAP | February 2018 to January 2023</li>
      <li class="text-item">Technician in Systems Development | ETEC Zona Leste | January 2015 to July 2016</li>
      <li class="text-item">Web Development | Google certification | 2018</li>
      <li class="text-item">React, Angular, and NestJS | Alura | 2021</li>
    </div>

    <div class="text">
      <div class="text-title">Professional Summary</div>
      <div class="text-item">
        Skilled in building custom web components, creating innovative and complex user interfaces, writing clean and maintainable code, ensuring cross-browser compatibility and responsive designs, debugging efficiently, and mentoring junior developers.
      </div>
    </div>

    <div class="text">
      <div class="text-title">Soft Skills</div>
      <div class="text-item">
        I am proactive, organized, and possess strong written and verbal communication skills. With a lot of attention to details, I am an efficient problem-solver who maintains high-quality standards. I collaborate effectively with teams, including designers, back-end developers, and product teams, to build solid web solutions. I have mentored junior developers and fostered a friendly, supportive work environment. Flexible and always open to feedback, I am keen to improve my back-end skills, particularly with Node.js, alongside my work as a front-end developer.
      </div>
    </div>
  </div>

</section>