@use '../../../../assets/variables.scss' as *;


a {
  text-decoration: none;
}



:host{
  & {
    margin: 20px 20px;
    width: calc(33.33% - 44px);
    height: 300px;
    overflow: hidden;
    position: relative;
    box-shadow: $box-shadow;
    animation: init 0.5s;
    border-radius: 10px;
    transition: 0.3s;
    border: 2px solid rgba(0,0,0, 0.2);
    @media only screen and (max-width: $mobile-size) {
      width: 100%;
      transition: 0s;
    }
  }

  .image {
    width: 100%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover {
    transform: scale(1.1);
    .desc {
      top: 0;
    }
    @media only screen and (max-width: $mobile-size) {
      transform: none;
    }
  }
}

.project-title {
  text-align: center;
  padding: 3px 0;
  color: $color-dark;
  text-transform: capitalize;
}

.desc {
  & {
    padding: 20px;
    position: absolute;
    width: calc(100% - 40px);
    top: -100%;
    transition: 0.4s;
    height: calc(100% - 40px - 30px);
    background-color: rgba(255, 255, 255, 0.95);
    color: $color-dark;
    line-height: 28px;
    letter-spacing: 1.5px;
    overflow: hidden;
    border-bottom: 1px solid $color-primary;
  }

  .desc-title {
    margin-top: 10px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}

.line {
  position: absolute;
  background-color: $color-primary;
  width: 30px;
  height: 50px;
  transform: rotate(40deg);
  left: -10px;
  top: -15px;
}

@keyframes init {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}