<section> 
  <div class="projects">
    <ng-container>
      <ng-container *ngFor="let project of projects">
        <app-project-item [project]="project"></app-project-item>
      </ng-container>
    </ng-container>
  </div>

  <ng-container>
    <ng-container *ngFor="let subCategoryName of subCategoryNames">
      <div class="sub-category-name">{{ subCategoryName }}</div>
      <div class="projects">
        <ng-container *ngFor="let project of subCategoryProjects[subCategoryName]">
          <app-project-item [project]="project"></app-project-item>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <app-intranets *ngIf="page === 'main' && projects && projects.length"></app-intranets>
</section>
