<section> 
  <ng-container *ngIf="page === 'main'">
    <div class="sub-category-name">Latest works</div>
    <div class="projects">
      <ng-container *ngFor="let recent of recentWorks">
        <app-project-item [project]="recent"></app-project-item>
      </ng-container>
    </div>
  </ng-container>
  
  <ng-container *ngIf="page !== 'demos'">
    <div class="sub-category-name">Other projects</div>
    <div class="projects">
      <ng-container *ngFor="let project of projects">
        <app-project-item [project]="project"></app-project-item>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="page === 'demos'">
    <ng-container *ngFor="let subCategoryName of subCategoryNames">
      <div class="sub-category-name">{{ subCategoryName }}</div>
      <div class="projects">
        <ng-container *ngFor="let project of subCategoryProjects[subCategoryName]">
          <app-project-item [project]="project"></app-project-item>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <app-intranets *ngIf="page === 'main' && projects && projects.length"></app-intranets>
</section>
